<a href="https://colab.research.google.com/github/pantos1/dopp_ex3_city_livability/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt


# Data-oriented programming paradigms
## Exercise 3
### Group 4

Piotr Antosiuk

Husein Gagajew 11775804

Johannes Fesl 11708466


## Loading Data
### Mercer Data:

In [ ]:
def load_mercer_data():
    files = glob.glob('data/mercer_*.csv')
    datalist = []
    for file in files:
        year = int(file[12:16])
        df = pd.read_csv(file, sep=';', header=0, encoding='ISO-8859-1').assign(year=year)
        datalist.append(df)
        
    data = pd.concat(datalist)
    data.sort_values(['year'], ascending=True, inplace=True)
    data.set_index(['year', 'City'], inplace=True)
    data.index.set_names(['year', 'City'], inplace=True)
    return data

mercer_data = load_mercer_data()
mercer_data

## Numbeo data

In [2]:
def load_numbeo_city_data():
    files = glob.glob('data/numbeo/quality-of-life-city/*.csv')
    datalist = []
    for file in files:
        year = int(file[33:37])
        df = pd.read_csv(file, sep=';', header=0).assign(year=year)
        city_parts = df['City'].str.split(',', n = 1, expand = True)
        df['City'] = city_parts
        df['Country'] = city_parts[len(city_parts.columns) - 1]
        datalist.append(df)
        
    data = pd.concat(datalist)
    
    data.set_index(['year', 'Country', 'City'], inplace = True)
    data.index.set_names(['year', 'Country', 'City'], inplace = True)
    return data

numbeo_city_data = load_numbeo_city_data()
numbeo_city_data

NameError: name 'glob' is not defined

In [5]:
def load_numbeo_country_data():
    files = glob.glob('data/numbeo/quality-of-life-country/*.csv')
    datalist = []
    for file in files:
        year = int(file[36:40])
        df = pd.read_csv(file, sep=';', header=0).assign(year=year)
        datalist.append(df)
        
    data = pd.concat(datalist)
    
    data.set_index(['year', 'Country'], inplace = True)
    data.index.set_names(['year','Country'], inplace = True)
    return data

numbeo_country_data = load_numbeo_country_data()
numbeo_country_data

                           Rank  Quality of Life Index  \
year Country
2012 Switzerland              1                 194.11
     Germany                  2                 184.42
     Norway                   3                 183.43
     United Arab Emirates     4                 177.07
     New Zealand              5                 174.28
...                         ...                    ...
2019 Philippines             67                  90.73
     Vietnam                 68                  88.82
     Kazakhstan              69                  87.17
     Iran                    70                  87.02
     Egypt                   71                  83.98

                           Purchasing Power Index  Safety Index  \
year Country
2012 Switzerland                           127.42         74.22
     Germany                               114.22         78.80
     Norway                                 94.21         80.93
     United Arab Emirates                  134.89         64.05
     New Zealand                            88.59         53.19
...                                           ...           ...
2019 Philippines                            29.46         59.17
     Vietnam                                33.33         51.22
     Kazakhstan                             38.83         33.49
     Iran                                   37.74         50.67
     Egypt                                  23.67         49.29

                           Health Care Index  Cost of Living Index  \
year Country
2012 Switzerland                       79.51                148.69
     Germany                           71.96                 92.83
     Norway                            79.04                166.65
     United Arab Emirates              63.89                 80.79
     New Zealand                       86.81                107.37
...                                      ...                   ...
2019 Philippines                       65.87                 35.09
     Vietnam                           54.54                 37.70
     Kazakhstan                        51.27                 29.83
     Iran                              51.18                 35.80
     Egypt                             44.22                 26.46

                           Property Price to Income Ratio  \
year Country
2012 Switzerland                                     6.53
     Germany                                         4.80
     Norway                                          7.10
     United Arab Emirates                            4.49
     New Zealand                                     5.71
...                                                   ...
2019 Philippines                                    21.83
     Vietnam                                        19.66
     Kazakhstan                                     11.51
     Iran                                           16.87
     Egypt                                          13.60

                           Traffic Commute Time Index  Pollution Index  \
year Country
2012 Switzerland                                30.88            35.49
     Germany                                    33.12            45.14
     Norway                                     18.50            19.22
     United Arab Emirates                       17.00            69.17
     New Zealand                                25.25            17.08
...                                               ...              ...
2019 Philippines                                44.15            74.47
     Vietnam                                    28.33            87.13
     Kazakhstan                                 29.75            74.25
     Iran                                       48.38            79.35
     Egypt                                      49.17            86.48

                          Climate Index
year Country
2012 Switzerland                      -
     Germany                          -
     Norway                           -
     United Arab Emirates             -
     New Zealand                      -
...                                 ...
2019 Philippines                  60.23
     Vietnam                      71.24
     Kazakhstan                   39.78
     Iran                         70.99
     Egypt                        91.98

[526 rows x 10 columns]

In [5]:
def load_population_data():
  file_url = 'https://raw.githubusercontent.com/pantos1/dopp_ex3_city_livability/master/data/imf/population_area_denisty.csv'
  df = pd.read_csv(file_url, sep=';', encoding='ISO-8859-1')
  df.drop(df.loc[df['Year'] != 2019].index, inplace=True)
  df = df.pivot(index='Country', columns='Series', values='Value')
  return df

population_data = load_population_data()
population_data