<a href="https://colab.research.google.com/github/pantos1/dopp_ex3_city_livability/blob/master/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt


# Data-oriented programming paradigms
## Exercise 3
### Group 4

Piotr Antosiuk

Husein Gagajew 11775804

Johannes Fesl 11708466


## Loading Data
### Mercer Data:

In [10]:
def load_mercer_data():
    files = glob.glob('data/mercer_*.csv')
    datalist = []
    for file in files:
        year = file[12:16]
        df = pd.read_csv(file, sep=';', header=0, encoding='ISO-8859-1').assign(year=year)
        datalist.append(df)
        
    data = pd.concat(datalist)
    return data

mercer_data = load_mercer_data()
mercer_data

         Country          City  Rank  year
0        Austria        Vienna     1  2010
1    Switzerland        Zürich     2  2010
2    Switzerland        Geneva     3  2010
3         Canada     Vancouver     3  2010
4    New Zealand      Auckland     4  2010
..           ...           ...   ...   ...
95  South Africa  Johannesburg    96  2019
96        Panama   Panama City    97  2019
97    Seychelles      Victoria    98  2019
98       Croatia        Zagreb    98  2019
99        Poland       Wroclaw   100  2019

[347 rows x 4 columns]