In [22]:
import numpy as np
import pandas as pd
import glob
import matplotlib.pyplot as plt


# Data-oriented programming paradigms
## Exercise 3
### Group 4

Piotr Antosiuk 11929198

Husein Gagajew 11775804

Johannes Fesl 11708466


## Loading Data
### Mercer Data:

In [23]:
def load_mercer_data():
    files = glob.glob('data/mercer_*.csv')
    datalist = []
    for file in files:
        year = int(file[12:16])
        df = pd.read_csv(file, sep=';', header=0, encoding='ISO-8859-1').assign(year=year)
        datalist.append(df)
        
    data = pd.concat(datalist)
    data.sort_values(['year'], ascending=True, inplace=True)
    data.set_index(['year', 'City'], inplace=True)
    data.index.set_names(['year', 'City'], inplace=True)
    return data

mercer_data = load_mercer_data()
mercer_data

                              Country  Rank
year City
2010 Vienna                   Austria     1
     Canberra               Australia    26
     Calgary                   Canada    28
     Singapore              Singapore    28
     Stuttgart                Germany    30
     Honolulu           United States    31
     Adelaide               Australia    32
     San Francisco      United States    32
     Paris                     France    34
     Helsinki                 Finland    35
     Boston             United States    37
     Lyon                      France    38
     London            United Kingdom    39
     Tokyo                      Japan    40
     Kobe                       Japan    41
     Milan                      Italy    41
     Barcelona                  Spain    44
     Lisbon                  Portugal    45
     Washington, D.C.   United States    45
     Chicago            United States    45
     New York City      United States    49
     Seattle            United States    50
     Dublin                   Ireland    26
     Nuremberg                Germany    24
     Brisbane               Australia    36
     Hamburg                  Germany    23
     Oslo                      Norway    24
     Geneva               Switzerland     3
     Vancouver                 Canada     3
     Auckland             New Zealand     4
...                               ...   ...
2019 Vienna                   Austria     1
     Zagreb                   Croatia    98
     Montreal                  Canada    21
     Stockholm                 Sweden    23
     Nuremberg                Germany    23
     Singapore              Singapore    25
     Madrid                     Spain    46
     Seattle            United States    46
     Edinburgh         United Kingdom    45
     New York City      United States    44
     Barcelona                  Spain    43
     Milan                      Italy    41
     London            United Kingdom    41
     Lyon                      France    40
     Paris                     France    39
     Lisbon                  Portugal    37
     Chicago            United States    49
     Honolulu           United States    37
     Brisbane               Australia    35
     San Francisco      United States    34
     Dublin                   Ireland    33
     Calgary                   Canada    32
     Helsinki                 Finland    31
     Canberra               Australia    30
     Adelaide               Australia    29
     Brussels                 Belgium    28
     Stuttgart                Germany    27
     Oslo                      Norway    25
     Boston             United States    36
     Wroclaw                   Poland   100

[347 rows x 2 columns]

## Numbeo data

In [24]:
def load_numbeo_city_data():
    files = glob.glob('data/numbeo/quality-of-life-city/*.csv')
    datalist = []
    for file in files:
        year = file[33:37]
        df = pd.read_csv(file, sep=';', header=0).assign(year=year)
        city_parts = df['City'].str.split(',', n = 1, expand = True)
        df['City'] = city_parts
        df['Country'] = city_parts[len(city_parts.columns) - 1]
        datalist.append(df)
        
    data = pd.concat(datalist)
    
    data.set_index(['year', 'Country', 'City'], inplace = True)
    data.index.set_names(['year', 'Country', 'City'], inplace = True)
    return data

numbeo_city_data = load_numbeo_city_data()
numbeo_city_data

                                            Rank  Quality of Life Index  \
year Country              City
2012 Germany              Berlin               1                 215.25
     Switzerland          Zurich               2                 213.18
     Canada               Edmonton             3                 204.86
     Australia            Perth                4                 196.00
     Canada               Calgary              5                 190.78
     Norway               Trondheim            6                 187.70
     Sweden               Stockholm            7                 166.05
     Australia            Sydney               8                 165.67
     Canada               Montreal             9                 164.99
     United Arab Emirates Dubai               10                 161.35
     Canada               Toronto             11                 159.07
     Denmark              Copenhagen          12                 155.40
     Australia            Brisbane            13                 147.46
     CA,United States     San Francisco       14                 147.17
     Japan                Tokyo               15                 136.19
     Canada               Vancouver           16                 133.65
     CA,United States     Los Angeles         17                 121.27
     Ireland              Dublin              18                 117.57
     NY,United States     New York            19                 115.47
     Slovenia             Ljubljana           20                 111.73
     Spain                Madrid              21                 108.58
     Australia            Melbourne           22                 107.12
     Portugal             Porto               23                 104.21
                          Lisbon              24                 102.92
     Czech Republic       Brno                25                  90.44
     Singapore            Singapore           26                  87.08
     India                Bangalore           27                  86.34
     Czech Republic       Prague              28                  85.70
     Belgium              Brussels            29                  83.68
     Brazil               Curitiba            30                  77.95
...                                          ...                    ...
2019 Azerbaijan           Baku               197                  99.58
     Pakistan             Lahore             198                  98.49
     Russia               Yekaterinburg      199                  96.75
     Vietnam              Hanoi              200                  96.73
     Ukraine              Dnipro             201                  94.31
     Thailand             Bangkok            202                  93.80
     Colombia             Bogota             203                  93.48
     India                Kolkata            204                  93.42
     Mexico               Mexico City        205                  92.82
     Russia               Novosibirsk        206                  90.00
     Sri Lanka            Colombo            207                  89.18
     Kazakhstan           Almaty             208                  87.69
     India                Delhi              209                  83.16
     Pakistan             Karachi            210                  82.06
     Peru                 Lima               211                  81.87
     Brazil               Sao Paulo          212                  78.76
     Nepal                Kathmandu          213                  78.69
     Egypt                Cairo              214                  76.45
     Iran                 Tehran             215                  75.30
     India                Mumbai             216                  74.73
     China                Shanghai           217                  73.33
     Vietnam              Ho Chi Minh City   218                  72.64
     Kenya                Nairobi            219                  72.26
     Indonesia            Jakarta            220                  71.32
     Brazil               Rio de Janeiro     221                  70.38
     Philippines          Manila             222                  67.42
     China                Beijing            223                  65.11
     Bangladesh           Dhaka              224                  60.46
     Nigeria              Lagos              225                  51.31
     Venezuela            Caracas            226                   0.00

                                            Purchasing Power Index  \
year Country              City
2012 Germany              Berlin                            140.62
     Switzerland          Zurich                            136.31
     Canada               Edmonton                          124.69
     Australia            Perth                             118.34
     Canada               Calgary                           124.25
     Norway               Trondheim                          95.20
     Sweden               Stockholm                          84.85
     Australia            Sydney                            100.96
     Canada               Montreal                          114.23
     United Arab Emirates Dubai                             136.08
     Canada               Toronto                           105.78
     Denmark              Copenhagen                         95.37
     Australia            Brisbane                           97.74
     CA,United States     San Francisco                     125.81
     Japan                Tokyo                              92.50
     Canada               Vancouver                          95.55
     CA,United States     Los Angeles                       117.97
     Ireland              Dublin                             88.79
     NY,United States     New York                          100.00
     Slovenia             Ljubljana                          55.29
     Spain                Madrid                             93.39
     Australia            Melbourne                          97.41
     Portugal             Porto                              52.79
                          Lisbon                             63.25
     Czech Republic       Brno                               60.62
     Singapore            Singapore                          91.24
     India                Bangalore                          71.56
     Czech Republic       Prague                             59.77
     Belgium              Brussels                           81.03
     Brazil               Curitiba                           47.09
...                                                            ...
2019 Azerbaijan           Baku                               31.58
     Pakistan             Lahore                             36.38
     Russia               Yekaterinburg                      48.00
     Vietnam              Hanoi                              39.09
     Ukraine              Dnipro                             34.84
     Thailand             Bangkok                            41.15
     Colombia             Bogota                             30.49
     India                Kolkata                            55.02
     Mexico               Mexico City                        49.76
     Russia               Novosibirsk                        46.05
     Sri Lanka            Colombo                            26.24
     Kazakhstan           Almaty                             40.18
     India                Delhi                              61.15
     Pakistan             Karachi                            33.20
     Peru                 Lima                               37.25
     Brazil               Sao Paulo                          39.40
     Nepal                Kathmandu                          25.32
     Egypt                Cairo                              24.72
     Iran                 Tehran                             34.47
     India                Mumbai                             54.40
     China                Shanghai                           63.51
     Vietnam              Ho Chi Minh City                   29.87
     Kenya                Nairobi                            27.67
     Indonesia            Jakarta                            27.50
     Brazil               Rio de Janeiro                     35.61
     Philippines          Manila                             38.84
     China                Beijing                            70.73
     Bangladesh           Dhaka                              38.45
     Nigeria              Lagos                              14.44
     Venezuela            Caracas                             3.86

                                            Safety Index  Health Care Index  \
year Country              City
2012 Germany              Berlin                   77.34              64.81
     Switzerland          Zurich                   83.85              77.78
     Canada               Edmonton                 58.98              78.89
     Australia            Perth                    48.75              87.04
     Canada               Calgary                  71.88              70.42
     Norway               Trondheim                78.19              81.71
     Sweden               Stockholm                73.44              85.65
     Australia            Sydney                   72.80              78.33
     Canada               Montreal                 70.88              70.50
     United Arab Emirates Dubai                    57.81              63.89
     Canada               Toronto                  68.23              70.56
     Denmark              Copenhagen               54.69              89.81
     Australia            Brisbane                 48.39              86.11
     CA,United States     San Francisco            64.06              57.41
     Japan                Tokyo                    93.94              95.37
     Canada               Vancouver                61.65              84.72
     CA,United States     Los Angeles              39.45              83.33
     Ireland              Dublin                   44.09              25.46
     NY,United States     New York                 59.03              63.89
     Slovenia             Ljubljana                64.29              76.11
     Spain                Madrid                   78.35              62.92
     Australia            Melbourne                45.98              72.22
     Portugal             Porto                    65.23              78.33
                          Lisbon                   58.35              66.27
     Czech Republic       Brno                     67.84              58.10
     Singapore            Singapore                79.79              58.97
     India                Bangalore                38.78              71.78
     Czech Republic       Prague                   59.70              63.24
     Belgium              Brussels                 42.97              84.03
     Brazil               Curitiba                 57.71              59.03
...                                                  ...                ...
2019 Azerbaijan           Baku                     70.56              36.87
     Pakistan             Lahore                   57.94              64.80
     Russia               Yekaterinburg            51.57              62.74
     Vietnam              Hanoi                    56.87              51.89
     Ukraine              Dnipro                   44.94              48.71
     Thailand             Bangkok                  54.25              78.52
     Colombia             Bogota                   39.10              65.38
     India                Kolkata                  49.31              58.51
     Mexico               Mexico City              31.83              64.25
     Russia               Novosibirsk              55.05              59.15
     Sri Lanka            Colombo                  60.73              71.23
     Kazakhstan           Almaty                   27.18              51.10
     India                Delhi                    40.36              66.78
     Pakistan             Karachi                  41.57              58.70
     Peru                 Lima                     31.46              55.55
     Brazil               Sao Paulo                28.15              55.09
     Nepal                Kathmandu                64.89              55.51
     Egypt                Cairo                    47.60              42.91
     Iran                 Tehran                   45.99              51.52
     India                Mumbai                   57.24              67.85
     China                Shanghai                 48.37              61.20
     Vietnam              Ho Chi Minh City         43.78              55.48
     Kenya                Nairobi                  42.53              57.52
     Indonesia            Jakarta                  46.62              58.95
     Brazil               Rio de Janeiro           22.02              42.72
     Philippines          Manila                   40.57              60.47
     China                Beijing                  47.21              63.29
     Bangladesh           Dhaka                    32.91              37.92
     Nigeria              Lagos                    35.78              53.02
     Venezuela            Caracas                  16.90              41.10

                                            Cost of Living Index  \
year Country              City
2012 Germany              Berlin                           89.06
     Switzerland          Zurich                          166.07
     Canada               Edmonton                        112.10
     Australia            Perth                           142.18
     Canada               Calgary                         111.71
     Norway               Trondheim                       181.02
     Sweden               Stockholm                       118.21
     Australia            Sydney                          139.12
     Canada               Montreal                         99.58
     United Arab Emirates Dubai                            83.96
     Canada               Toronto                         106.58
     Denmark              Copenhagen                      129.34
     Australia            Brisbane                        122.97
     CA,United States     San Francisco                   106.82
     Japan                Tokyo                           140.78
     Canada               Vancouver                       110.81
     CA,United States     Los Angeles                      94.78
     Ireland              Dublin                          124.54
     NY,United States     New York                        100.00
     Slovenia             Ljubljana                        81.91
     Spain                Madrid                           90.54
     Australia            Melbourne                       125.54
     Portugal             Porto                            73.81
                          Lisbon                           78.69
     Czech Republic       Brno                             65.68
     Singapore            Singapore                       101.03
     India                Bangalore                        35.47
     Czech Republic       Prague                           68.66
     Belgium              Brussels                        114.64
     Brazil               Curitiba                         84.16
...                                                          ...
2019 Azerbaijan           Baku                             29.69
     Pakistan             Lahore                           23.54
     Russia               Yekaterinburg                    34.33
     Vietnam              Hanoi                            38.93
     Ukraine              Dnipro                           28.72
     Thailand             Bangkok                          55.25
     Colombia             Bogota                           32.48
     India                Kolkata                          24.72
     Mexico               Mexico City                      35.30
     Russia               Novosibirsk                      32.10
     Sri Lanka            Colombo                          32.31
     Kazakhstan           Almaty                           30.19
     India                Delhi                            28.00
     Pakistan             Karachi                          21.58
     Peru                 Lima                             39.82
     Brazil               Sao Paulo                        46.73
     Nepal                Kathmandu                        31.19
     Egypt                Cairo                            27.87
     Iran                 Tehran                           39.63
     India                Mumbai                           29.03
     China                Shanghai                         50.29
     Vietnam              Ho Chi Minh City                 38.39
     Kenya                Nairobi                          42.05
     Indonesia            Jakarta                          41.52
     Brazil               Rio de Janeiro                   46.49
     Philippines          Manila                           38.92
     China                Beijing                          43.71
     Bangladesh           Dhaka                            33.91
     Nigeria              Lagos                            34.84
     Venezuela            Caracas                          25.01

                                            Property Price to Income Ratio  \
year Country              City
2012 Germany              Berlin                                      5.74
     Switzerland          Zurich                                      8.27
     Canada               Edmonton                                    3.59
     Australia            Perth                                       5.24
     Canada               Calgary                                     4.58
     Norway               Trondheim                                   6.27
     Sweden               Stockholm                                  11.36
     Australia            Sydney                                      8.63
     Canada               Montreal                                    3.95
     United Arab Emirates Dubai                                       7.26
     Canada               Toronto                                     7.65
     Denmark              Copenhagen                                  6.26
     Australia            Brisbane                                    5.77
     CA,United States     San Francisco                               6.34
     Japan                Tokyo                                      17.77
     Canada               Vancouver                                  10.42
     CA,United States     Los Angeles                                 5.89
     Ireland              Dublin                                      6.89
     NY,United States     New York                                   10.81
     Slovenia             Ljubljana                                  15.56
     Spain                Madrid                                     11.06
     Australia            Melbourne                                  10.49
     Portugal             Porto                                       6.80
                          Lisbon                                      8.45
     Czech Republic       Brno                                       10.18
     Singapore            Singapore                                  17.16
     India                Bangalore                                   8.28
     Czech Republic       Prague                                     14.11
     Belgium              Brussels                                    6.33
     Brazil               Curitiba                                   10.74
...                                                                    ...

In [4]:
def load_numbeo_country_data():
    files = glob.glob('data/numbeo/quality-of-life-country/*.csv')
    datalist = []
    for file in files:
        year = file[36:40]
        df = pd.read_csv(file, sep=';', header=0).assign(year=year)
        datalist.append(df)
        
    data = pd.concat(datalist)
    
    data.set_index(['year', 'Country'], inplace = True)
    data.index.set_names(['year','Country'], inplace = True)
    return data

numbeo_country_data = load_numbeo_country_data()
numbeo_country_data

                             Rank  Quality of Life Index  \
year Country
2012 Switzerland                1                 194.11
     Germany                    2                 184.42
     Norway                     3                 183.43
     United Arab Emirates       4                 177.07
     New Zealand                5                 174.28
     Sweden                     6                 171.72
     Canada                     7                 164.99
     Denmark                    8                 163.12
     Australia                  9                 162.03
     Austria                   10                 159.89
     Netherlands               11                 158.07
     United States             12                 140.62
     Japan                     13                 130.52
     Ireland                   14                 125.14
     Slovenia                  15                 121.94
     France                    16                 119.51
     Israel                    17                 118.25
     United Kingdom            18                 110.09
     Portugal                  19                 105.10
     Spain                     20                 100.93
     Belgium                   21                 100.68
     Croatia                   22                  93.06
     Czech Republic            23                  88.14
     Singapore                 24                  87.08
     South Africa              25                  83.59
     Saudi Arabia              26                  71.02
     Turkey                    27                  66.70
     Malaysia                  28                  65.31
     Poland                    29                  60.63
     Mexico                    30                  60.31
...                           ...                    ...
2019 Taiwan                    42                 133.82
     Bulgaria                  43                 130.59
     Turkey                    44                 125.51
     Bosnia And Herzegovina    45                 124.51
     Chile                     46                 124.14
     Mexico                    47                 123.48
     Argentina                 48                 122.49
     Malaysia                  49                 122.11
     Georgia                   50                 120.90
     Serbia                    51                 119.83
     India                     52                 117.51
     Panama                    53                 113.12
     Jordan                    54                 112.94
     Lebanon                   55                 111.21
     Macedonia                 56                 110.64
     Colombia                  57                 108.36
     Indonesia                 58                 107.20
     Russia                    59                 104.94
     Pakistan                  60                 104.63
     Thailand                  61                 103.26
     Ukraine                   62                 102.34
     Hong Kong                 63                 100.90
     Brazil                    64                 100.33
     China                     65                  97.92
     Sri Lanka                 66                  95.30
     Philippines               67                  90.73
     Vietnam                   68                  88.82
     Kazakhstan                69                  87.17
     Iran                      70                  87.02
     Egypt                     71                  83.98

                             Purchasing Power Index  Safety Index  \
year Country
2012 Switzerland                             127.42         74.22
     Germany                                 114.22         78.80
     Norway                                   94.21         80.93
     United Arab Emirates                    134.89         64.05
     New Zealand                              88.59         53.19
     Sweden                                   99.33         63.76
     Canada                                  110.72         60.18
     Denmark                                  99.26         54.69
     Australia                               108.67         59.38
     Austria                                  98.78         55.92
     Netherlands                              93.65         71.60
     United States                           118.75         35.07
     Japan                                    83.62         94.25
     Ireland                                  84.79         53.93
     Slovenia                                 57.17         64.29
     France                                   90.90         55.24
     Israel                                   73.81         59.22
     United Kingdom                           89.77         53.96
     Portugal                                 56.85         59.36
     Spain                                    86.18         67.04
     Belgium                                  84.58         59.38
     Croatia                                  50.65         67.58
     Czech Republic                           58.43         63.41
     Singapore                                91.24         79.79
     South Africa                             99.97         21.88
     Saudi Arabia                             80.41         67.52
     Turkey                                   52.76         73.62
     Malaysia                                 72.13         29.12
     Poland                                   58.88         61.30
     Mexico                                   59.33         37.46
...                                             ...           ...
2019 Taiwan                                   56.36         82.62
     Bulgaria                                 52.18         60.00
     Turkey                                   45.33         59.62
     Bosnia And Herzegovina                   49.18         56.21
     Chile                                    54.13         53.19
     Mexico                                   49.98         47.70
     Argentina                                55.00         37.45
     Malaysia                                 73.14         39.21
     Georgia                                  33.19         80.14
     Serbia                                   39.90         62.73
     India                                    66.91         57.28
     Panama                                   41.34         53.57
     Jordan                                   41.73         56.18
     Lebanon                                  53.97         55.73
     Macedonia                                39.83         60.71
     Colombia                                 34.66         48.74
     Indonesia                                32.95         53.99
     Russia                                   45.38         58.07
     Pakistan                                 38.61         53.27
     Thailand                                 40.86         53.34
     Ukraine                                  32.72         51.12
     Hong Kong                                69.34         80.68
     Brazil                                   37.43         29.76
     China                                    68.95         54.54
     Sri Lanka                                27.34         58.97
     Philippines                              29.46         59.17
     Vietnam                                  33.33         51.22
     Kazakhstan                               38.83         33.49
     Iran                                     37.74         50.67
     Egypt                                    23.67         49.29

                             Health Care Index  Cost of Living Index  \
year Country
2012 Switzerland                         79.51                148.69
     Germany                             71.96                 92.83
     Norway                              79.04                166.65
     United Arab Emirates                63.89                 80.79
     New Zealand                         86.81                107.37
     Sweden                              86.76                109.02
     Canada                              71.99                101.70
     Denmark                             89.81                125.72
     Australia                           79.11                130.28
     Austria                             83.18                 98.44
     Netherlands                         70.37                108.48
     United States                       65.52                 85.55
     Japan                               96.11                136.69
     Ireland                             41.06                114.29
     Slovenia                            82.87                 78.63
     France                              80.74                103.90
     Israel                              91.67                 98.66
     United Kingdom                      76.04                109.44
     Portugal                            69.96                 73.97
     Spain                               69.92                 84.48
     Belgium                             82.22                114.29
     Croatia                             65.00                 70.77
     Czech Republic                      65.00                 65.19
     Singapore                           58.97                101.03
     South Africa                        59.54                 76.89
     Saudi Arabia                        40.74                 97.40
     Turkey                              69.97                 68.12
     Malaysia                            69.06                 56.00
     Poland                              55.79                 52.96
     Mexico                              80.06                 56.41
...                                        ...                   ...
2019 Taiwan                              86.22                 59.84
     Bulgaria                            54.04                 37.17
     Turkey                              69.36                 35.21
     Bosnia And Herzegovina              53.20                 35.72
     Chile                               65.50                 47.73
     Mexico                              69.72                 32.71
     Argentina                           69.39                 33.09
     Malaysia                            67.61                 39.38
     Georgia                             51.29                 28.78
     Serbia                              52.56                 35.39
     India                               68.32                 24.17
     Panama                              61.41                 51.45
     Jordan                              66.12                 54.98
     Lebanon                             65.90                 58.06
     Macedonia                           58.98                 31.58
     Colombia                            67.51                 30.15
     Indonesia                           61.98                 36.24
     Russia                              57.63                 35.52
     Pakistan                            60.58                 20.40
     Thailand                            79.06                 47.54
     Ukraine                             50.95                 27.94
     Hong Kong                           67.35                 78.14
     Brazil                              54.64                 42.80
     China                               64.03                 39.24
     Sri Lanka                           72.30                 30.24
     Philippines                         65.87                 35.09
     Vietnam                             54.54                 37.70
     Kazakhstan                          51.27                 29.83
     Iran                                51.18                 35.80
     Egypt                               44.22                 26.46

                             Property Price to Income Ratio  \
year Country
2012 Switzerland                                       6.53
     Germany                                           4.80
     Norway                                            7.10
     United Arab Emirates                              4.49
     New Zealand                                       5.71
     Sweden                                            9.01
     Canada                                            4.85
     Denmark                                           6.13
     Australia                                         6.94
     Austria                                           6.69
     Netherlands                                       6.34
     United States                                     2.82
     Japan                                            16.88
     Ireland                                           5.89
     Slovenia                                         13.41
     France                                           10.54
     Israel                                            9.51
     United Kingdom                                    7.38
     Portugal                                          7.77
     Spain                                             9.87
     Belgium                                           6.30
     Croatia                                          11.59
     Czech Republic                                   10.99
     Singapore                                        17.16
     South Africa                                      2.99
     Saudi Arabia                                      2.77
     Turkey                                            5.65
     Malaysia                                          4.77
     Poland                                           12.32
     Mexico                                            5.84
...                                                     ...
2019 Taiwan                                           28.91
     Bulgaria                                          8.72
     Turkey                                            9.26
     Bosnia And Herzegovina                           12.28
     Chile                                            13.51
     Mexico                                           10.19
     Argentina                                        19.02
     Malaysia                                          9.77
     Georgia                                          12.67
     Serbia                                           18.62
     India                                            11.33
     Panama                                           12.67
     Jordan                                            7.67
     Lebanon                                          13.44
     Macedonia                                        13.65
     Colombia                                         18.85
     Indonesia                                        13.81
     Russia                                           12.39
     Pakistan                                         14.06
     Thailand                                         21.94
     Ukraine                                          14.35
     Hong Kong                                        49.42
     Brazil                                           18.72
     China                                            29.09
     Sri Lanka                                        26.32
     Philippines                                      21.83
     Vietnam                                          19.66
     Kazakhstan                                       11.51
     Iran                                             16.87
     Egypt                                            13.60

                             Traffic Commute Time Index  Pollution Index  \
year Country
2012 Switzerland                                  30.88            35.49
     Germany                                      33.12            45.14
     Norway                                       18.50            19.22
     United Arab Emirates                         17.00            69.17
     New Zealand                                  25.25            17.08
     Sweden                                       23.00            32.50
     Canada                                       40.44            41.59
     Denmark                                      31.00            34.17
     Australia                                    37.09            37.25
     Austria                                      23.00            42.84
     Netherlands                                  26.83            41.67
     United States                                36.36            61.27
     Japan                                        46.50            52.50
     Ireland                                      11.67            45.17
     Slovenia                                     24.67            35.00
     France                                       29.00            61.82
     Israel                                       46.60            48.75
     United Kingdom                               44.17            64.43
     Portugal                                     28.00            51.91
     Spain                                        26.45            85.62
     Belgium                                      21.50            88.33
     Croatia                                      37.00            49.94
     Czech Republic                               28.67            65.99
     Singapore                                    66.25            70.83
     South Africa                                 34.50            88.96
     Saudi Arabia                                 15.75           112.50
     Turkey                                       54.22            89.23
     Malaysia                                     32.40            91.25
     Poland                                       36.27            83.75
     Mexico                                       31.33            93.50
...                                                 ...              ...
2019 Taiwan                                       30.90            63.47
     Bulgaria                                     28.79            63.98
     Turkey                                       44.77            69.15
     Bosnia And Herzegovina                       26.43            63.47
     Chile                                        36.79            65.54
     Mexico                                       39.08            66.02
     Argentina                                    43.04            52.35
     Malaysia                                     35.25            63.74
     Georgia                                      34.34            72.46
     Serbia                                       29.74            58.86
     India                                        45.71            75.81
     Panama                                       36.48            62.00
     Jordan                                       42.43            80.39
     Lebanon                                      37.36            87.39
     Macedonia                                    27.94            80.85
     Colombia                                     45.06            61.74
     Indonesia                                    42.93            62.78
     Russia                                       46.00            62.80
     Pakistan                                     38.63            75.89
     Thailand                                     39.40            72.21
     Ukraine                                      37.36            66.63
     Hong Kong                                    41.00            66.39
     Brazil                                       43.37            57.72
     China                                        42.46            81.91
     Sri Lanka                                    51.90            57.69
     Philippines                                  44.15            74.47

## Country statistics

In [25]:
def load_and_pivot_data(path, year, index='Country', pivot_column='Series', values='Value', sep=','):
    filepath = path 
    df = pd.read_csv(filepath, sep=sep)
    df.drop(df.loc[df['Year'] != year].index, inplace=True)
    df = df.pivot(index=index, columns=pivot_column, values=values)
    return df

### Population

In [26]:
filepath = 'data/imf/population_area_density.csv'
population_data_2019 = load_and_pivot_data(filepath, year=2019, sep=';')
population_data_2019.head()

Series,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females)
Country,,,,,,,
Afghanistan,42.4723,4.1655,58.2694,38.0418,18.5120,19.5297,105.4975
Albania,17.3996,20.4779,105.1430,2.8809,1.4141,1.4668,103.7236
Algeria,30.5504,9.6817,18.0763,43.0531,21.3034,21.7497,102.0949
American Samoa,NaN,NaN,276.5600,0.0553,NaN,NaN,NaN
Andorra,NaN,NaN,164.1319,0.0771,NaN,NaN,NaN

### Urban population

In [27]:
filepath = 'data/imf/urban_population.csv'
urban_population_2018 = load_and_pivot_data(filepath, year=2018, sep=';')
urban_population_2018.head()

Series         Capital city population (thousands) Urban population (percent)
Country
Afghanistan                                  4,012                       25.5
Albania                                        476                       60.3
Algeria                                      2,694                       72.6
American Samoa                                  49                       87.2
Andorra                                         23                       88.1

### GDP

In [33]:
filepath = 'data/imf/gdp_2019.csv'
gdp_2019 = pd.read_csv(filepath, sep=';')
gdp_2019.set_index('Country', inplace=True)
gdp_2019.head()

                    GDP PPP (billions) GDP PPP per capita  GDP per capita USD
Country
Afghanistan                     76.486            2094.928            513.108
Albania                         40.151           13991.142           5372.742
Algeria                        681.396           15696.386           3980.118
Angola                         203.433            6752.384           3037.976
Antigua and Barbuda              2.735           29345.729          18109.095

### Employment

In [34]:
filepath = 'data/imf/employment.csv'
employment_2019 = load_and_pivot_data(filepath, year=2019, sep=';')
employment_2019.head()

Series,Employment by industry: Agriculture (%) Female,Employment by industry: Agriculture (%) Male,Employment by industry: Agriculture (%) Male and Female,Employment by industry: Industry (%) Female,Employment by industry: Industry (%) Male,Employment by industry: Industry (%) Male and Female,Employment by industry: Services (%) Female,Employment by industry: Services (%) Male,Employment by industry: Services (%) Male and Female
Country,,,,,,,,,
Afghanistan,73.48,59.34,61.72,5.46,7.10,6.82,21.07,33.56,31.46
Albania,44.61,32.80,37.77,13.73,22.48,18.80,41.67,44.72,43.44
Algeria,8.77,13.39,12.61,55.75,44.81,46.66,35.46,41.81,40.73
Angola,57.00,43.12,50.03,1.30,16.08,8.72,41.70,40.80,41.25
Argentina,0.14,0.76,0.51,7.50,33.44,23.08,92.36,65.79,76.41